<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <button class="btn btn-link d-md-none rounded-circle mr-3" (click)="onSidebarActionClick()">
    <i class="fa fa-bars"></i>
  </button>

  <ul class="navbar-nav ml-auto">

    <div class="topbar-divider d-none d-sm-block"></div>
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
          {{ nameUser }}
        </span>
        <img class="img-profile rounded-circle" [src]="profileImage">
      </a>

      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <ng-container *ngFor="let navLink of navLinks" class="nav-item" [routerLinkActive]="['active']">
          <a *ngIf="!navLink.navLinks" [routerLink]="[navLink.routerLink]" class="dropdown-item">
            <!-- <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> -->
            {{ navLink.title }}
          </a>
        </ng-container>
        <div class="dropdown-divider" *ngIf="navLinks.length !== 0"></div>
        <a class="dropdown-item" (click)="onLogoutClick()">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Cerrar sesión
        </a>
      </div>
    </li>

  </ul>

</nav>
