<div class="page-title">
  Clientes
</div>

<div class="page-header mt-3">
  <div class="search-container mr-2">
    <img class="search-icon" src="assets/icons/search.svg">
    <input class="search-input" type="search" placeholder="Buscar cliente" [(ngModel)]="search.value"
      (keyup)="$event.keyCode === 13 || search.value === '' ? search.change() : null">
  </div>

  <button type="button" class="btn btn-secondary btn-sm ml-2 min-width-unset" routerLink="../create">
    Nuevo cliente
  </button>
</div>
<app-table [context]="this">
  <table class="table-backoffice">
    <caption>
      Listado de clientes
    </caption>
    <thead>
      <tr>
        <th> Nombre cliente </th>
        <th> Correo electrónico </th>
        <th> Número de teléfono </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let customer of list">
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone_number }}</td>
          <td class="table-actions">
            <div class="table-action">
              <i class="fas fa-chevron-right" [routerLink]="['../update/' + customer.id]"></i>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</app-table>
