<div class="page-title">
    Pedidos por producir&nbsp;<span class="machine-name">M190</span>
</div>

<table class="table-backoffice">
    <caption>
        Pedidos pendientes
    </caption>
    <thead>
        <tr>
            <th> Código pedido </th>
            <th> Cantidad </th>
            <th> Producido </th>
            <th> Status </th>
            <th> Fecha de generacion </th>
        </tr>
    </thead>
    <tbody>
        <!-- <ng-container *ngFor="let item of list"> -->
        <tr>
            <td> 10201 </td>
            <td> 10 </td>
            <td> 0 </td>
            <td> Asignado </td>
            <td> 21/02/2021 </td>
            <td class="table-actions">
                <div class="table-action">
                    <i class="fas fa-chevron-right" [routerLink]="'../production-order/1'"></i>
                </div>
            </td>
        </tr>
        <!-- </ng-container> -->
    </tbody>
</table>
